{% extends 'base.html' %}
{% load static %}

{% block titulo%}
Unificam
{% endblock %}
{% block content %}

   <main class="conteudo" role="main">
      <section class="secaoDestaque" >
        <h1 class="secaoDestaque-titulo" id="conteudoPrincipal">
          {{ object.tilulo }}
        </h1>
      </section>
     <div class="container">
          <section class="secaoSobre clearfix">
              <div class="container">
                    <img src="{{object.thumb.url}}" class="secaoSobre-imgDestaque" alt>
                    <h2 class="secaoSobre-titulo tituloPadrao">
                        {{object.tilulo}}
                    </h2>
                      <p class="secaoSobre-texto">
                        {{object.descricao}}
                      </p>
                    <div class="flex my-4">
                            <a href="{{object.video}}">
                                <button class="secaoDestaque-cta btnPadrao">
                                    Play
                                </button>
                            </a>
                    </div>
                  <ion-icon name="eye" size="large"></ion-icon>{{object.visualizados}}

                </div>
         </section> <!--fim .secaoSobre-->
     </div>



          <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    {% endblock %}