{% extends 'base.html' %}
{% load static %}

{% block titulo%}
Unificam
{% endblock %}
{% block content %}

   <main class="conteudo" role="main">
      <section class="secaoDestaque" style="background-image:{%static 'bg-intro.png' %}">
        <h1 class="secaoDestaque-titulo" id="conteudoPrincipal">

        </h1>
        <h2 class="secaoDestaque-texto">
          Nosso programa consiste em possibilitar esforços comunitários organizados em torno de um desenvolvimento social, que garanta a cada indivíduo um padrão de vida adequado para a manutenção da saúde.</h2>

        <button class="secaoDestaque-cta btnPadrao">
          Nossos Programas
        </button>
      </section>


      <section class="secaoSobre clearfix" style="background-color:#f7f4f4">
        <div class="container">
          <img src="{% static 'saude.jpeg' %}" class="secaoSobre-imgDestaque" alt>
          <h2 class="secaoSobre-titulo tituloPadrao">
            SOBRE
          </h2>
          <p class="secaoSobre-texto">
             Nossa entidade é presidida por Daniel Riquelme que está  desde a sua fundação, sempre a frente com seus trabalhos para trazer melhorias, com  sua administração foram conquistadas ampliações, materiais, reformas, equipamentos de grande necessidade para o dia a dia e atualmente temos  80 usuários cadastrados, graças a sua dedicação a entidade continua seus atendimentos sem ônus para os usuários. Não poderíamos também  deixar de agradecer  a Cida Farias que faz toda a documentação da UNIFICAM, realizando um trabalho voluntário.
          </p>
          <p class="secaoSobre-texto">
            O trabalho voluntário tem sido muito importante para as organizações não governamentais, que graças a esse tipo de iniciativa nossa entidade só cresceu e com isso somos beneficiados.</p>
          <p class="secaoSobre-texto">
            <b>
              Conheça mais sobre nosso projeto e faça parte dessa história.
            </b>
          </p>
        </div>
      </section> <!--fim .secaoSobre-->

     <section class="secaoDiferenciais2">
        <div class="container2">
          <ul class="diferenciais-diferencial ">
            <a href="{% url 'myhome:contato' %}"><li >
              <p class="diferenciais-diferencial-titulo" style="color:#f7f4f4"> Fale conosco</p>
              <p class="diferenciais-diferencial-texto" style="color:#f7f4f4">
                Entre em contato.
              </p>
            </li></a>
            <a href="{% url 'myhome:doe' %}"><li >
              <p class="diferenciais-diferencial-titulo" style="color:#f7f4f4"> Apoie também</p>

              <p class="diferenciais-diferencial-texto" style="color:#f7f4f4">
                Doe e faça a diferença.
              </p>
            </li></a>
            <a href="{% url 'myhome:sobre' %}"><li >
              <p class="diferenciais-diferencial-titulo" style="color:#f7f4f4"> Quem Somos</p>

              <p class="diferenciais-diferencial-texto" style="color:#f7f4f4">
                Missão, visão e valores.
              </p>
            </li></a>
          </ul>
        </div>
      </section> <!--fim .secaoDiferenciais-->


      <section class="secaoBlog container">
        <h2 class="secaoBlog-titulo tituloPadrao">
          BLOG
        </h2>

        <ul class="listaDeArtigos">
        {% for lista in lista_blog_alta %}
          <li id="new{{ forloop.counter }}" class="listaDeArtigos-item">
            <article class="listaDeArtigos-artigo">
              <img src="{{ lista.thumb.url }}" class="listaDeArtigos-artigo-img" alt="Teclado da Apple e um celular Android">
              <h2 class="listaDeArtigos-artigo-titulo">
                {{ lista.tilulo }}
              </h2>
              <p>
                {{ lista.texto|slice:'70' }}...
                <a href="{% url 'myhome:detalhesblog' lista.pk %}" class="listaDeArtigos-artigo-link">
                  Continuar lendo o post {{ forloop.counter }}
                </a>
              </p>
            </article>
          </li>
        {% endfor %}
        </ul>

        <nav>
          <ul class="listaDeArtigos-slider">
            <li>
              <a href="#new1" data-sliderItem="0" class="listaDeArtigos-slider-item listaDeArtigos-slider-item--ativo">
                Notícia 1
              </a>
            </li>
            <li>
              <a href="#new2" data-sliderItem="1" class="listaDeArtigos-slider-item">
                Notícia 2
              </a>
            </li>
            <li>
              <a href="#new3" data-sliderItem="2" class="listaDeArtigos-slider-item">
                Notícia 3
              </a>
            </li>
          </ul>
        </nav>

      </section> <!--fim .secaoBlog-->
      <section class="secaoCitacao" >
        <h4 class="secaoCitacao-titulo" id="citacao">
            ” Voluntários não têm necessariamente o tempo, eles têm o coração"...
        </h4>
      </section>
     <section class="secaoInstitucional">
        <div class="container">
          <h2 class="tituloPadrao">
            OFICINAS
          </h2>

          <div class="secaoInstitucional-coluna">
            <p>
              Oi, tudo bem? Nossas Oficinas presenciais, Palestras e Projetos também esão aqui!
            </p>
            <address class="secaoInstitucional-endereco">
              Faça seu cadastro e acesse nossos vídeos e mais!
            </address>
            <a href="{% url 'myhome:homeoficinas' %}">
            <button class="secaoDestaque-cta btnPadrao">
          Acessar oficinas
            </button></a>
          </div>

          <video src="{% static 'uni-video.mp4' %}" class="secaoInstitucional-video" controls>
            </video>
        </div>
      </section> <!--fim .secaoInstitucional-->
        </div> <!--fim .container da .secaoContato-->

      </section> <!--fim .secaoContato-->

    </main>
<script>
var btns = document.querySelectorAll('.listaDeArtigos-slider-item');

// Percorre todos os botoes controladores
btns.forEach(function(btn) {
  btn.addEventListener('click', function() {


    // Remove classe 'ativo' dos outros botoes
    btns.forEach(function(btnRemoveClass) {
      btnRemoveClass.classList.remove('listaDeArtigos-slider-item--ativo')
    })

    this.classList.add('listaDeArtigos-slider-item--ativo')
  })
})
// Variáveis
var btnAbreDialog = document.querySelector('#abreDialog');
var dialog = document.querySelector('.dialogNewsletter');
var dialogBody = document.querySelector('.dialogNewsletter-body');
var dialogOverlay = document.querySelector('.dialogNewsletter-overlay');


// Quando abrir a dialog...
btnAbreDialog.addEventListener('click', function() {
  dialog.classList.add('dialogNewsletter--aberto');
});

function fechandoDialog() {
  document.activeElement.blur();
  dialog.classList.remove('dialogNewsletter--aberto');
}

// Listeners
document.querySelector('.dialogNewsletter-fechar').addEventListener('click', fechandoDialog);

	var beamer_config = {
		product_id : 'dMXtbgUC42672'
		//DO NOT CHANGE: This is your product code on Beamer
	};
</script>
<script type="text/javascript" src="https://app.getbeamer.com/js/beamer-embed.js" defer="defer"></script>
<script>
  const saida = document.querySelector(".secaoDestaque-titulo");

function digitacao(texto, contador) {
  if (contador < texto.length) {
    setTimeout(() => {
      saida.textContent += texto.charAt(contador);
      contador++;
      digitacao(texto, contador);
    }, 100);
  }
}

digitacao("Unificam", 0);
</script>
    {% endblock %}