{% extends 'base.html' %}
{% load static %}

{% block titulo%}
Unificam
{% endblock %}
{% block content %}

   <main class="conteudo" role="main">
      <section class="secaoDestaque" >
        <h1 class="secaoDestaque-titulo" id="conteudoPrincipal">
          {{ object.tilulo }}
        </h1>
      </section>
         {% for object in object_list %}

     <div class="container">
          <section class="secaoSobre clearfix">
              <div class="container">
                    <img src="{{object.thumb.url}}" class="secaoSobre-imgDestaque" alt>
                    <h2 class="secaoSobre-titulo tituloPadrao">
                        {{object.tilulo}}
                    </h2>
                      <p class="secaoSobre-texto">
                        {{object.descricao}}<a href="{% url 'myhome:detalhesoficinas' object.pk %}">
                                Ver mais ...
                            </a>
                      </p>

                </div>
         </section> <!--fim .secaoSobre-->
     </div>

         {% endfor %}


      <section class="secaoDestaques">
        <div class="container">
          <h2 class="secaoDestaques-titulo tituloPadrao">VEJA TAMBÉM</h2>
          {% for recente in lista_blog_recentes %}
          <a href="http://blog.apeperia.com.br/design/conheca-primeiras-etapas-criacao-logotipo-teste-teste" class="secaoDestaques-link" aria-labelledby="tituloDestaque1">
            <figure class="secaoDestaques-destaque">
              <img src="{{ recente.thumb.url }}" class="secaoDestaques-destaque-img" alt="Ferramentas de designer. Ilustração">
              <figpcation class="secaoDestaques-destaque-titulo" id="tituloDestaque1">
                {{recente.tilulo}}
              </figpcation>
            </figure>
          </a>
          {% endfor %}

        </div>

        <div class="dialogNewsletter" id="dialogNewsletter">
          <div class="dialogNewsletter-body">

            <h2 class="dialogNewsletter-titulo">News sem spam</h2>
            <h3 class="dialogNewsletter-texto">
              Assine nossa newsletter para receber notícias técnicas sem spam!
            </h3>
            <form class="dialogNewsletter-form">
              <label class="dialogNewsletter-label">
                Email:
              </label>
              <input type="text" class="dialogNewsletter-campo" placeholder="Digite seu e-mail...">
              <button class="dialogNewsletter-btn">
                Assinar newsletter
              </button>
              <button class="dialogNewsletter-fechar">
                X
              </button>
            </form>
          </div>
          <div class="dialogNewsletter-overlay"></div>
        </div> <!--fim .dialogNewsletter-->

</script>
    {% endblock %}