{% extends 'base.html' %}
{% load static %}

{% block titulo%}
Sobre nós
{% endblock %}

{% block content %}
    <section class="secaoDestaque" >
        <h1 class="secaoDestaque-titulo" id="conteudoPrincipal">
          {{ object.tilulo }}
        </h1>
      </section><header class="secaoContato">
    <div class="container">
          <img src="{% static 'saude.jpeg' %}" class="secaoSobre-imgDestaque" alt>
          <h2 class="secaoSobre-titulo tituloPadrao">
            Nossa História
          </h2>
          <p class="secaoSobre-texto">
            A UNIFICAM (União dos Deficientes Físicos de Amambai) é uma entidade de caráter assistencial e sem fins lucrativos , fundada em meados de 1993.
          </p>
          <p class="secaoSobre-texto">
            Nossa entidade é presidida por Daniel Riquelme que está  desde a sua fundação, sempre a frente com seus trabalhos para trazer melhorias, com  sua administração foram conquistadas ampliações, materiais, reformas, equipamentos de grande necessidade para o dia a dia e atualmente temos  80 usuários cadastrados, graças a sua dedicação a entidade continua seus atendimentos sem ônus para os usuários. Não poderíamos também  deixar de agradecer  a Cida Farias que faz toda a documentação da UNIFICAM, realizando um trabalho voluntário.
          </p>
          <p class="secaoSobre-texto">
            <b>
              O trabalho voluntário tem sido muito importante para as organizações não governamentais, que graças a esse tipo de iniciativa nossa entidade só cresceu e com isso somos beneficiados.</p>

            </b>
          </p>
        </div>
        </div>
    <section class="secaoCitacao" >
        <h4 class="secaoCitacao-titulo" id="citacao">
            “Respeitar a individualidade de cada um para torna-los agentes de mudança”
        </h4>
      </section>
    <div class="container">
          <h2 class="secaoSobre-titulo tituloPadrao">
            Missão
          </h2>
          <p class="secaoSobre-texto">
            A UNIFICAM, conforme resolução CNAS nº 109/2009, oferece serviços socioassistenciais, promovendo e articulando ações de defesa de direitos, prevenções, orientações, participação da família nas ações.
          </p>

          <p class="secaoSobre-texto">
            <b>
              Contribuir como agente de transformação através do apoio da sociedade, as parcerias efetivadas com órgãos públicos e o empenho dos profissionais que atuam na instituição.</b>
          </p>
        </div>
    <div class="container">
          <h2 class="secaoSobre-titulo tituloPadrao">
            Visão
          </h2>
          <p class="secaoSobre-texto">
            Promover a habilitação e a reabilitação da pessoa com deficiência física, bem como a promoção de sua integração a vida em sociedade, ofertando amparo fisioterápico, promoção da cidadania, facilitando o enfrentamento das desigualdades.
          </p>
        <p class="secaoSobre-texto">
            <b>
              Promover assim um mundo mais justo para todos!</b>
          </p>


        </div>
    <div class="container">
          <h2 class="secaoSobre-titulo tituloPadrao">
            Valores
          </h2>
          <p class="secaoSobre-texto">
            A entidade entende que em primeiro lugar esta o planejamento integrado com a participação da diretoria, técnicos, funcionários e família, sendo essa uma ferramenta indispensável para obter êxito e sucesso em suas ações e objetivos.
          </p>

        <p class="secaoSobre-texto">
            <b>
              Atendendo aos fins, a finalidade é prestar atendimentos as pessoas com deficiência e suas famílias, possibilitando a inclusão social e o exercício da cidadania.
            </b>
          </p>
        </div>
    </header>
{% endblock%}