{% extends 'base.html' %}
{% load static %}

{% block titulo%}
Sobre nós
{% endblock %}

{% block content %}
    <section class="secaoDestaque" >
        <h1 class="secaoDestaque-titulo" id="conteudoPrincipal">
          {{ object.tilulo }}
        </h1>
      </section><header class="secaoContato">
    <div class="container">
          <img src="{% static 'saude.jpeg' %}" class="secaoSobre-imgDestaque" alt>
          <h2 class="secaoSobre-titulo tituloPadrao">
            Nossa História
          </h2>
          <p class="secaoSobre-texto">
            Lorem Ipsum is simply dummy text of the printing and typesetting!
          </p>
          <p class="secaoSobre-texto">
            industry. Lorem Ipsum has been the industry's standard dummy of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          </p>
          <p class="secaoSobre-texto">
            <b>
              text ever since the 1500s, when an unknown printer took a galley.
            </b>
          </p>
        </div>
        </div>
    <section class="secaoCitacao" >
        <h4 class="secaoCitacao-titulo" id="citacao">
            "A caridade é o único tesouro que se aumenta
            ao dividi-lo."
        </h4>
      </section>
    <div class="container">
          <h2 class="secaoSobre-titulo tituloPadrao">
            Missão
          </h2>
          <p class="secaoSobre-texto">
            Lorem Ipsum is simply dummy text of the printing and typesetting!
          </p>
          <p class="secaoSobre-texto">
            industry. Lorem Ipsum has been the industry's standard dummy of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          </p>
          <p class="secaoSobre-texto">
            <b>
              text ever since the 1500s, when an unknown printer took a galley.
            </b>
          </p>
        </div>
    <div class="container">
          <h2 class="secaoSobre-titulo tituloPadrao">
            Visão
          </h2>
          <p class="secaoSobre-texto">
            Lorem Ipsum is simply dummy text of the printing and typesetting!
          </p>
          <p class="secaoSobre-texto">
            industry. Lorem Ipsum has been the industry's standard dummy of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          </p>
          <p class="secaoSobre-texto">
            <b>
              text ever since the 1500s, when an unknown printer took a galley.
            </b>
          </p>
        </div><div class="container">
          <h2 class="secaoSobre-titulo tituloPadrao">
            Valores
          </h2>
          <p class="secaoSobre-texto">
            Lorem Ipsum is simply dummy text of the printing and typesetting!
          </p>
          <p class="secaoSobre-texto">
            industry. Lorem Ipsum has been the industry's standard dummy of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          </p>
          <p class="secaoSobre-texto">
            <b>
              text ever since the 1500s, when an unknown printer took a galley.
            </b>
          </p>
        </div>
    </header>
{% endblock%}